<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>continuum.us.alfred2-isy</string>
	<key>connections</key>
	<dict>
		<key>01AACF06-DCB4-4BB5-ADCD-CFDF0EACB266</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4F19EC1-C743-474C-A554-CFFCD93B999A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4F19EC1-C743-474C-A554-CFFCD93B999A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Elliott Barrere</string>
	<key>description</key>
	<string>Control the Universal Devices ISY99i home automation appliance</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ISY99i Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./isy_control.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A4F19EC1-C743-474C-A554-CFFCD93B999A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>isy</string>
				<key>runningsubtext</key>
				<string>waiting for edward...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./isy_query.rb {query}</string>
				<key>title</key>
				<string>Control ISY99i</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>01AACF06-DCB4-4BB5-ADCD-CFDF0EACB266</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Ruby Script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42D05639-3F0F-4760-8214-317167E4173D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01AACF06-DCB4-4BB5-ADCD-CFDF0EACB266</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>42D05639-3F0F-4760-8214-317167E4173D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>A4F19EC1-C743-474C-A554-CFFCD93B999A</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ebarrere/alfred2-isy/</string>
</dict>
</plist>
